<%= stylesheet_link_tag 'show_user', :media => "all" %>

<div class="show_user">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス : <%= @user.email %></p>
  <p>マイバイク : <%= @user.bike %></p>
  <p>プロフィール : <%= @user.profile %></p>
  
  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
  <% end %>
  
  
  <h4>ユーザーの投稿一覧</h4>
  <div class="has_courses">  
    <% @user.courses.each do |t| %>
      <a href="/courses/<%= t.id %>"><%= t.course_name %></a>
      <br>
    <% end %>
  </div>
  
  <h4>ユーザーがいいねした投稿一覧</h4>
  <div class="liked_courses">
    <% @user.liked_courses.each do |t| %>
      <%= t.user.name %>
      <a href="/courses/<%= t.id %>"><%= t.course_name %></a>
      <br>
    <% end %>
  </div>
  
  <%= link_to "コース一覧に戻る", courses_path %>
</div>