<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>マイバイク : <%= @user.bike %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.courses.each do |t| %>
  <%= t.user.name %>
  <%= t.course_name %>
<% end %>

<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_courses.each do |t| %>
  <%= t.user.name %>
  <%= t.course_name %>
<% end %>

<%= link_to "コース一覧に戻る", courses_path %>