<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="index">
<h3>コース一覧</h3>
<%= link_to "コース開拓へ", new_course_path %>
<div class="courses-container">
  <% @courses.each do |t| %>
    <div class="wanoato">
      <%= t.user.email %>
      <div class="main-box">
        <div class="left-container">
          <%= t.course_name %>
          <%= t.area %>
        </div>
        <div class="right-container">
          <!--<% if user_signed_in? %>-->
          <!--  <% if current_user.already_liked?(t) %>-->
          <!--    <%= link_to course_like_path(id: t.id, course_id: t.id), method: :delete do %>-->
          <!--      <p>いいねを取り消す</p><%= t.likes.count %>-->
          <!--    <% end %>-->
          <!--  <% else %>-->
          <!--    <%= link_to course_likes_path(id: t.id, course_id: t.id), method: :post do %>-->
          <!--      <p>いいね</p><%= t.likes.count %>-->
          <!--    <% end %>-->
          <!--  <% end %>-->
          <!--<% else %>-->
          <!--  <p>いいねの数 = </p><%= t.likes.count %>-->
          <!--<% end %>-->
          <%= link_to "詳細", course_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集", edit_course_path(t.id) %>
            <%= link_to "削除", course_path(t.id), method: :delete %>
          <% end %>
        </div>
      </div>
    <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>
</div>