<%= stylesheet_link_tag 'index', :media => "all" %>

<h3>コース一覧</h3>
<%= link_to "コース開拓へ", new_course_path %>
<div class="courses-container">
  <% @courses.each do |t| %>
    <div class="course">
      <%= t.course_name %>
      <%= t.area %>
      <%= t.feature %>
      <%= t.created_at %>
    </div>
  <% end %>
</div>