<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="index">
<h3>コース一覧</h3>

<h4>コースを検索</h4>
 <%= form_tag({controller:"courses",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索'  %>
<% end %>

<%= link_to "コース開拓へ", new_course_path %>
<div class="courses-container">
  <% @courses.each do |t| %>
    <div class="wanoato">
      <!--ユーザー名-->
      <p><a href="/users/<%= t.user.id %>"><%= t.user.name %></a></p>
      <!--写真-->
      <div class="picture">
        <%= image_tag t.image_url if t.image? %>
      </div>
      <div class="main-box">
        <div class="left-container">
          <!--コース名-->
          <div class="course_name"><%= t.course_name %></div>
          <!--エリア-->
          <% if t.area? %>
            ＜<%= t.area %>＞
          <% end %>
        </div>
        <!--いいね・詳細・編集・削除-->
        <div class="right-container">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
              <%= link_to course_like_path(id: t.id, course_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
            <% else %>
              <%= link_to course_likes_path(id: t.id, course_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
            <% end %>
          <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
          <%= link_to "詳細", course_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集", edit_course_path(t.id) %>
            <%= link_to "削除", course_path(t.id), method: :delete %>
          <% end %>
        </div>
      </div>
    <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>
</div>