<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="new">
<h3>新規コース</h3>
<%= form_for @course do |f| %>
  <div class="course-name">
    <%= f.label :コース名 %>
    <%= f.text_field :course_name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :エリア %>
    <%= f.select :area, 
    [["北海道", "北海道"], 
    ["東北", "東北"], 
    ["関東", "関東"],
    ["中部","中部"],
    ["近畿","近畿"],
    ["中国","中国"],
    ["四国","四国"],
    ["九州","九州"],
    ["青森県","青森県"],
    ["岩手県","岩手県"],
    ["宮城県","宮城県"],
    ["秋田県","秋田県"],
    ["山形県","山形県"],
    ["福島県","福島県"],
    ["茨城県","茨城県"],
    ["栃木県","栃木県"],
    ["群馬県","群馬県"],
    ["埼玉県","埼玉県"],
    ["千葉県","千葉県"],
    ["東京都","東京都"],
    ["神奈川県","神奈川県"],
    ["新潟県","新潟県"],
    ["富山県","富山県"],
    ["石川県","石川県"],
    ["福井県","福井県"],
    ["山梨県","山梨県"],
    ["長野県","長野県"],
    ["岐阜県","岐阜県"],
    ["静岡県","静岡県"],
    ["愛知県","愛知県"],
    ["三重県","三重県"],
    ["滋賀県","滋賀県"],
    ["京都府","京都府"],
    ["大阪府","大阪府"],
    ["兵庫県","兵庫県"],
    ["奈良県","奈良県"],
    ["和歌山県","和歌山県"],
    ["鳥取県","鳥取県"],
    ["島根県","島根県"],
    ["岡山県","岡山県"],
    ["広島県","広島県"],
    ["山口県","山口県"],
    ["徳島県","徳島県"],
    ["香川県","香川県"],
    ["愛媛県","愛媛県"],
    ["高知県","高知県"],
    ["福岡県","福岡県"],
    ["佐賀県","佐賀県"],
    ["長崎県","長崎県"],
    ["熊本県","熊本県"],
    ["大分県","大分県"],
    ["宮崎県","宮崎県"],
    ["鹿児島県","鹿児島県"],
    ["沖縄県","沖縄県"]], include_blank: "選択して下さい" %>
  </div>
  
  <div class="field">
    <%= f.label :メイン画像 %>
    <%= f.file_field :image %></br>
    <%= f.label :画像２ %>
    <%= f.file_field :image2 %></br>
    <%= f.label :画像３ %>
    <%= f.file_field :image3 %></br>
    <%= f.label :画像４ %>
    <%= f.file_field :image4 %></br>
    <%= f.label :画像５ %>
    <%= f.file_field :image5 %></br>
  </div>

  <div class="field">
    <%= f.label :コース説明 %>
    <%= f.text_area :feature, :size => "30x2" %>
  </div>
  
  
  
  

  <div class="actions">
    <h4>チェックポイント１</h4>
    <%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    </br>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
    </br>
    
    <h4>チェックポイント２</h4>
    <%= f.label :lat2,"緯度" %>
    <%= f.text_field :lat2,:value =>"緯度", id: :lat2 %>
    </br>
    <%= f.label :lng2,"経度" %>
    <%= f.text_field :lng2,:value =>"経度", id: :lng2 %>
    </br>
    
    <h4>チェックポイント３</h4>
    <%= f.label :lat3,"緯度" %>
    <%= f.text_field :lat3,:value =>"緯度", id: :lat3 %>
    </br>
    <%= f.label :lng3,"経度" %>
    <%= f.text_field :lng3,:value =>"経度", id: :lng3 %>
    </br>
    
    <h4>チェックポイント４</h4>
    <%= f.label :lat4,"緯度" %>
    <%= f.text_field :lat4,:value =>"緯度", id: :lat4 %>
    </br>
    <%= f.label :lng4,"経度" %>
    <%= f.text_field :lng4,:value =>"経度", id: :lng4 %>
    </br>
    
    <h4>チェックポイント５</h4>
    <%= f.label :lat5,"緯度" %>
    <%= f.text_field :lat5,:value =>"緯度", id: :lat5 %>
    </br>
    <%= f.label :lng5,"経度" %>
    <%= f.text_field :lng5,:value =>"経度", id: :lng5 %>
    </br>
  </div>
  
  <h2>Map</h2>
  
  <h4>チェックポイント１</h4>
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress()">
  </br>
  <h4>チェックポイント２</h4>
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress2()">
  </br>
  <h4>チェックポイント３</h4>
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress3()">
  </br>
  <h4>チェックポイント４</h4>
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress4()">
  </br>
  <h4>チェックポイント５</h4>
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress5()">
  </br>
  
  <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
  <div id='map'></div>
  
  <style>
  #map {
    height: 600px;
    width: 600px;
  }
  </style>
  
  <script>
  //初期マップの設定
  let map
  let marker, marker2, marker3, marker4, marker5
  function initMap(){
    geocoder = new google.maps.Geocoder()
    geocoder2 = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: 35.6803997, lng:139.7690174},  //東京
      zoom: 15,
  
    });
  }
  
  //検索後のマップ作成
  var geocoder
  var aft
  function codeAddress(){
    var inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat').value = results[0].geometry.location.lat();
          document.getElementById('lng').value = results[0].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  var geocoder2
  var aft2
  function codeAddress2(){
    var inputAddress = document.getElementById('address').value;
    geocoder2.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft2 == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[1].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[1].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft2 = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat2').value = results[1].geometry.location.lat();
          document.getElementById('lng2').value = results[1].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker2, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  
  function codeAddress3(){
    var inputAddress3 = document.getElementById('address3').value;
    geocoder.geocode( { 'address3': inputAddress3}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft3 == true){
              marker3.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker3 = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft3 = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat3').value = results[0].geometry.location.lat3();
          document.getElementById('lng3').value = results[0].geometry.location.lng3();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker3, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat3').value = ev.latLng.lat3();
              document.getElementById('lng3').value = ev.latLng.lng3();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  
  function codeAddress4(){
    var inputAddress4 = document.getElementById('address4').value;
    geocoder.geocode( { 'address4': inputAddress4}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft4 == true){
              marker4.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker4 = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft4 = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat4').value = results[0].geometry.location.lat4();
          document.getElementById('lng4').value = results[0].geometry.location.lng4();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker4, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat4').value = ev.latLng.lat4();
              document.getElementById('lng4').value = ev.latLng.lng4();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  
  function codeAddress5(){
    var inputAddress5 = document.getElementById('address5').value;
    geocoder.geocode( { 'address5': inputAddress5}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft5 == true){
              marker5.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker5 = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft5 = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat5').value = results[0].geometry.location.lat5();
          document.getElementById('lng5').value = results[0].geometry.location.lng5();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker5, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat5').value = ev.latLng.lat5();
              document.getElementById('lng5').value = ev.latLng.lng5();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA56I1wI-fEG9_sBEeQ4EiErJYdKXvFQS4&callback=initMap" async defer></script>
  
  
  
  
  <div class="post">
    <%= f.submit "コースを投稿する" %>
  </div>
<% end %>

<%= link_to "コース一覧に戻る", courses_path %>

</div>