<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="show">
  <h3>コース詳細</h3>
  <div class="course">
    <h4><%= @course.course_name %></h4>
    <p><%= @course.area %></p>
    <p><%= @course.feature %></p>
    <p><%= @course.created_at %></p>
    
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@course) %>
          <%= link_to course_like_path(@course), method: :delete do %>
             <p>いいねを取り消す</p><%= @course.likes.count %>
          <% end %>
      <% else %>
          <%= link_to course_likes_path(@course), method: :post do %>
             <p>いいね</p><%= @course.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= @course.likes.count %>
  <% end %>
  </div>
  
  <h4>いいねしたユーザー</h4>
  <% @course.liked_users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
  
  <%= link_to "コース一覧に戻る", courses_path %>
  <%= link_to "編集する", edit_course_path(@course.id) %>
</div>