<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="show">
  <h3>コース詳細</h3>
  <div class="course">
    <h1><%= @course.course_name %></h1>
    ＜<%= @course.area %>＞
    <p>【開拓者】<a href="/users/<%= @course.user.id %>"><%= @course.user.name %></a></p>
    <!--写真-->
    <%= image_tag @course.image_url, size: "250x200" if @course.image? %>
    <%= image_tag @course.image2_url, size: "250x200" if @course.image2? %>
    <%= image_tag @course.image3_url, size: "250x200" if @course.image3? %>
    <%= image_tag @course.image4_url, size: "250x200" if @course.image4? %>
    <%= image_tag @course.image5_url, size: "250x200" if @course.image5? %>
    <div class="feature">
      <p><%= @course.feature %></p>
    </div>
    <br>
    <p><%= @course.created_at %></p>
    
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@course) %>
          <%= link_to course_like_path(@course), method: :delete do %>
             <i class="fas fa-heart"></i><%= @course.likes.count %>
          <% end %>
      <% else %>
          <%= link_to course_likes_path(@course), method: :post do %>
             <i class="far fa-heart"></i><%= @course.likes.count %>
          <% end %>
      <% end %>
    <% else %>
      <i class="far fa-heart"></i><%= @course.likes.count %>
    <% end %>
  </div>
  
  <br>
  <h4>いいねしたユーザー</h4>
  <% @course.liked_users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
  
  <br>
  <div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
      <div>
        ＜<%= c.user.name unless c.user.blank? %>＞&nbsp;<%= c.content %>
      </div>
        <br>
    <% end %>
  
    <% if user_signed_in? %>
      <%= form_with(model: [@course, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <br>
  <%= link_to "コース一覧に戻る", courses_path %>&nbsp;
  <%= link_to "編集する", edit_course_path(@course.id) %>
</div>