<!DOCTYPE html>
<html>
  <head>
    <title>輪の跡</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>輪の跡</h1>
      <div class="header-list">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
     <p>© 2021 haruki.lo.shelon@gmail.com All Rights Reserved.</p>
    </footer>
  </body>
</html>
